aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anyio==4.12.1
argcomplete==3.6.3
attrs==25.4.0
beautifulsoup4==4.10.0
blessed==1.29.0
blivet==3.12.1
Brlapi==0.8.7
Brotli==1.2.0
casttube==0.2.1
catt==0.13.1
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.7
colorlog==6.10.1
crcmod==1.7
crypt_r==3.13.1
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
deprecation==2.1.0
devgoldyutils==3.0.0
distro==1.9.0
dnf==4.24.0
docopt==0.6.2
editor==1.6.6
envycontrol==3.5.2
evdev==1.9.3
fedora-third-party==0.10
file-magic==0.4.0
frozenlist==1.8.0
h11==0.16.0
hidapi==0.14.0.post4
httpcore==1.0.9
httpx==0.28.1
humanize==4.13.0
idna==3.10
ifaddr==0.2.0
inquirer==3.4.1
iso639==0.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
krfzf-py==0.0.4
langtable==0.0.69
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.18.0
liquidctl==1.16.0
louis==3.33.0
lutris==0.5.22
lxml==6.0.1
markdown-it-py==4.0.0
mdurl==0.1.2
moddb==0.12.0
mov-cli-test==1.1.7
multidict==6.7.1
mutagen==1.47.0
nftables==0.1
nodejs-wheel-binaries==24.13.0
numpy==2.4.2
olefile==0.47
opencv-python==4.13.0.92
packaging==25.0
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
platformdirs==4.5.0
PlexAPI==4.18.0
ply==3.11
productmd==1.50
progressbar2==4.5.0
propcache==0.4.1
protobuf==6.33.5
psutil==7.0.0
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
PyChromecast==14.0.9
pycparser==2.22
pycryptodome==3.23.0
pycryptodomex==3.23.0
pycups==2.0.4
pyenchant==3.2.2
Pygments==2.19.2
PyGObject==3.54.5
pyinotify==0.9.6
pyotp==2.9.0
pyparted==3.13.0
pypresence==4.3.0
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-linux-procfs==0.7.3
python-meh==0.52
python-pam==2.0.2
python-utils==3.9.1
pytubefix==10.3.6
pyudev==0.24.3
pyusb==1.3.1
pyxdg==0.28
PyYAML==6.0.2
qrcode==8.2
RapidFuzz==3.12.2
readchar==4.2.1
referencing==0.36.2
regex==2025.9.1
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
rich==14.3.1
rpds-py==0.27.0
rpm==6.0.1
rpmautospec==0.8.4
rpmautospec-core==0.1.5
runs==1.2.2
setools==4.6.0
setuptools==78.1.1
shellingham==1.5.4
simpleline==1.9.0
six==1.17.0
smbus==1.1
sniffio==1.3.1
sos==4.11.0
soupsieve==2.8
systemd-python==235
termcolor==3.3.0
thefuzz==0.22.1
toml==0.10.2
typer==0.20.0
typing_extensions==4.15.0
Unidecode==1.4.0
urllib3==2.6.3
wcwidth==0.5.3
websockets==15.0.1
wxPython==4.2.4
xkbregistry==0.3
xmod==1.8.1
yarl==1.22.0
yt-dlp==2026.3.17
zeroconf==0.148.0
requests==2.33.0